<div class="CajaUno animated bounceInDown">
			

			<input type="text" readonly id="PrimerNumero" ng-model="valores.num1" >
			<input type="text" readonly id="Operador" ng-model="valores.operador" >
			<input type="text" readonly id="SegundoNumero" ng-model="valores.num2">
			<form id="FormIngreso">
				<input type="text"  id="Respuesta" ng-model="valores.respuesta" >
				<center>
					<img src="imagenes/interrogacion.jpg" >
				</center>
				
			</form>
			<button  class="MiBotonUTN" ng-click="Responder()" >Aceptar</button>
			<button  class="MiBotonUTN" ng-click="Comenzar()" >Comenzar</button>
		</div>
		

		