<div class="CajaUno animated bounceInDown">
		
		
			<form id="FormIngreso">

				<input type="text"  ng-model="valores.numero" placeholder="Ingrese número" id="numero">
				
				<br>
				<input type="text" ng-model="valores.intentos" placeholder="intentos" readonly id="intentos">
			</form>
			
		</div>
		<div class="CajaUno animated bounceInLeft">
			
		<button style="height:5em;" class="MiBotonUTN"  ng-click="verificar()" >Verificar</button>
			
			<button  class="MiBotonUTN" ng-click="comenzar()" >Comenzar</button>

		</div>

		

		